<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="/static/form.js" defer></script>
    <title>Bridge Control Panel</title>
</head>

<body>
    <section class="content-box">

        <!-- Error Messages / info messages-->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <h1 class="{{ category }}">{{ message }}</h1>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Bridge Status Text -->
        <h1>Bridge Status: <span id="text-bridge-status"></span></h1>

        <!-- Gates -->
        <h3>Gate Status: <span id="text-gate-status"></span></h3>

        <!-- Connection status -->
        <h3>Connection Status: <span id="text-conn-status"></span></h3>
        
        <!-- Error Code -->
        <h3>Error Code: <span id="text-error-code"></span></h3>

        <!-- INSERT BRIDGE IMAGE/GRAPHIC -->

        <!-- SENSOR STATUS SECTION -->
        <h1>Sensor Statuses:</h1>

        <!--Traffic Lights-->
        <h3>Roadway Traffic Lights: <span id="text-road-traf"></span></h3>

        <h3>Waterway Traffic Lights: <span id="text-waterway-traf"></span></h3>

        <!-- Ultrasonic Sensors -->
        <h3>North Ultrasonic: <span id="text-north-us"></span></h3>

        <h3>Underside Ultrasonic: <span id="text-under-us"></span></h3>

        <h3>South Ultrasonic: <span id="text-south-us"></span></h3>

        <!-- Roadway traffic Status-->
        <h3>Roadway Ultrasonic: <span id="text-road-us"></span></h3>

        <h3>Roadway LoadCell: <span id="text-load-cell"></span></h3>

        <!-- LIMIT SWITCHES STATUS -->
        <h3>Bridge Top Limit Switch: <span id="text-bridge-top-limit"></span></h3>

        <h3>Bridge Bottom Limit Switch: <span id="text-bridge-bottom-limit"></span></h3>

        <h3>Gate Top Limit Switch: <span id="text-gate-top-limit"></span></h3>

        <h3>Gate Bottom Limit Switch: <span id="text-gate-bottom-limit"></span></h3>

        <!-- AUDIO STATUS -->
        <h3>Audio Announcement: <span id="text-audio"></span></h3>

        <!-- Emergency E-STOP -->
        <form class="emergency-button" method="POST">
            <button type="submit" value="emergency" name="action" class="button red-button">EMERGENCY STOP</button>
        </form>

    </section>

    <form class="content-box" method="POST">
        <!-- Control mode controls -->
        <div class="mode-buttons">
            <input type="radio" id="auto" name="mode" value="auto" checked>
            <label for="auto" class="radio big-radio"><span>Automatic Bridge Control</span></label>
            <br><br><br>
            <input type="radio" id="manual" name="mode" value="manual">
            <label for="manual" class="radio big-radio"><span>Manual Bridge Control</span></label>
        </div>

        <div class="disabled-box" id="disabled-box">
        <!-- traffic light controls -->
            <div>
                <p>Traffic Light Override * 
                    <span class="hidden error" id="traf-lights-error-text">Please Select Override: </span>
                    <span class="hidden error" id="road-lights-error-text">Missing Roadway Input</span>
                    <span class="hidden error" id="water-lights-error-text">Missing Waterway Input</span></p>

                <div>
                    <div>
                        <label class="switch">
                            <input type="radio" id="road-go" name="road-lights" value="GOGO">
                            <span class="slider round"></span>
                            <br><br>Start Roadway
                        </label>

                        <label class="switch">
                            <input type="radio" id="road-stop" name="road-lights" value="STOP">
                            <span class="slider round"></span>
                            <br><br>Stop Roadway
                        </label>

                        <label class="switch">
                            <input type="radio" id="road-emer" name="road-lights" value="EMER">
                            <span class="slider round"></span>
                            <br><br>Roadway Emergency
                        </label>
                    </div>

                    <div>
                        <label class="switch">
                            <input type="radio" id="waterway-go" name="waterway-lights" value="GOGO">
                            <span class="slider round"></span>
                            <br><br>Start Waterway
                        </label>

                        <label class="switch">
                            <input type="radio" id="waterway-stop" name="waterway-lights" value="STOP">
                            <span class="slider round"></span>
                            <br><br>Stop Waterway
                        </label>

                        <label class="switch">
                            <input type="radio" id="waterway-emer" name="waterway-lights" value="EMER">
                            <span class="slider round"></span>
                            <br><br>Waterway Emergency
                        </label>
                    </div>
                </div>
            </div>

            <!-- control ulrasonic readings -->
            <div>
                <p>Ship Detection Override (Ultrasonics)</p>
                <label class="switch">
                    <input type="checkbox" id="north-us" name="ultrasonics" value="north-us">
                    <span class="slider"></span>
                    North Detected
                </label>

                <label class="switch">
                    <input type="checkbox" id="under-us" name="ultrasonics" value="under-us">
                    <span class="slider"></span>
                    Underside Detected
                </label>

                <label class="switch">
                    <input type="checkbox" id="south-us" name="ultrasonics" value="south-us">
                    <span class="slider"></span>
                    South Detected
                </label>
            </div>

            <!-- control load cell readings -->
            <div>
                <p>Roadway Detection Override (LoadCell and Ultrasonic)</p>
                <label class="switch">
                    <input type="checkbox" id="loadcell" name="road-detect" value="loadcell">
                    <span class="slider"></span>
                    Load Detected 
                </label>

                <label class="switch">
                    <input type="checkbox" id="road-us" name="road-detect" value="road-us">
                    <span class="slider"></span>
                    Road Ultrasonic 
                </label>
            </div>

            <!-- Limit Switch Override -->
            <div>
                <p>Bridge and Gate Limit Switch Detection Override</p>
                <label class="switch">
                    <input type="checkbox" id="bridge-top" name="limit-switch" value="bridge-top">
                    <span class="slider"></span>
                    Bridge Top
                </label>

                <label class="switch">
                    <input type="checkbox" id="bridge-bottom" name="limit-switch" value="bridge-bottom">
                    <span class="slider"></span>
                    Bridge Bottom
                </label>

                <label class="switch">
                    <input type="checkbox" id="gate-top" name="limit-switch" value="gate-top">
                    <span class="slider"></span>
                    Gate Top
                </label>

                <label class="switch">
                    <input type="checkbox" id="gate-bottom" name="limit-switch" value="gate-bottom">
                    <span class="slider"></span>
                    Gate Bottom
                </label>
            </div>

            <!-- TODO Audio Announcement inputs -->
            <div>
                <p>Audio Announcement Override * <span class="hidden error" id="audio-error-text">Please Select an Instruction for the Audio.</span></p>
                <label class="switch">
                    <input type="radio" id="start-complete-audio" name="audio" value="DONE">
                    <span class="slider round"></span>
                    <br><br>Terminus
                </label>

                <label class="switch">
                    <input type="radio" id="moving-audio" name="audio" value="MOVN">
                    <span class="slider round"></span>
                    <br><br>Moving
                </label>

                <label class="switch">
                    <input type="radio" id="emer-audio" name="audio" value="EMER">
                    <span class="slider round"></span>
                    <br><br>Emergency
                </label>

                <label class="switch">
                    <input type="radio" id="no-audio" name="audio" value="NONE">
                    <span class="slider round"></span>
                    <br><br>None
                </label>
            </div>

            <!-- control gates-->
            <div>
                <p>Roadway Gate Control Override *<span class="hidden error" id="gate-error-text">Please Select an Instruction for the Gates.</span></p>

                <div class="radio-container">
                    <input type="radio" id="open-gates" name="gates" value="OPEN">
                    <label for="open-gates" class="radio">Open Gates</label>
                    <input type="radio" id="close-gates" name="gates" value="CLOS">
                    <label for="close-gates" class="radio">Close Gates</label>
                </div>
            </div>

            <!-- control bridge -->
            <div>
                <p>Bridge Control Override * <span class="hidden error" id="bridge-error-text">Please Select an Instruction for the Bridge.</span></p>

                <div class="radio-container">
                    <input type="radio" id="open-bridge" name="bridge" value="OPEN">
                    <label for="open-bridge" class="radio">Open Bridge</label>
                    <input type="radio" id="close-bridge" name="bridge" value="CLOS">
                    <label for="close-bridge" class="radio">Close Bridge</label>
                </div>
            </div>

            <!-- Error Code Override -->
            <div>
                <p>Error Code Override *</p>
                
                <select name="error-code" id="error-code">
                    <option value="0" selected>0: No Error</option>
                    <option value="1">1: </option>
                    <option value="2">2: </option>
                    <option value="3">3: </option>
                    <option value="4">4: </option>
                    <option value="5">5: </option>
                    <option value="6">6: </option>
                    <option value="7">7: </option>
                </select>
            </div>
        </div>

        <!-- Push Button-->
        <div class="push">
            <button type="submit" id="push" value="push" name="action" class="button push-button">Push</button>
        </div>
    </form>
</body>


</html>