<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/form.js" defer></script>
    <title>Bridge Control Panel</title>
</head>

<body>
    <section class="content-box">

        <!-- Error Messages / info messages-->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <h1 class="{{ category }}">{{ message }}</h1>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Bridge Status Text -->
        {% if status.bridge_status == "OPEN" %}
            <h1>Bridge Status: <span class="green-text">OPEN</span></h1>
        {% elif status.bridge_status == "MOVN" %}
            <h1>Bridge Status: <span class="orange-text">MOVING</span></h1>
        {% elif status.bridge_status == "CLOS" %}
            <h1>Bridge Status: <span class="green-text">CLOSED</span></h1>
        {% elif status.bridge_status == "EMER" %}
            <h1>Bridge Status: <span class="yellow-text">EMERGENCY</span></h1>
        {% endif %}

        <!-- Connection status -->
        {% if conn == True %}
            <h3>Connection Status: <span class="green-text">STABLE</span></h3>
        {% elif conn == False %}
            <h3>Connection Status: <span class="red-text">DISCONNECTED</span></h3>
        {% endif %}
        
        <!-- Error Code -->
        {% if status.error_code == "1" %}
            <h3>Error Code: <span class="green-text">1 - NO ERRORS</span></h3>
        {% elif status.error_code == "2" %}
            <h3>Error Code: <span class="red-text">2 - </span></h3>
        {% elif status.error_code == "3" %}
            <h3>Error Code: <span class="red-text">3 - </span></h3>
        {% elif status.error_code == "4" %}
            <h3>Error Code: <span class="red-text">4 - </span></h3>
        {% elif status.error_code == "5" %}
            <h3>Error Code: <span class="red-text">5 - </span></h3>
        {% elif status.error_code == "6" %}
            <h3>Error Code: <span class="red-text">6 - </span></h3>
        {% elif status.error_code == "7" %}
            <h3>Error Code: <span class="red-text">7 - </span></h3>
        {% elif status.error_code == "8" %}
            <h3>Error Code: <span class="red-text">8 - </span></h3>
        {% endif %}

        <!-- INSERT BRIDGE IMAGE/GRAPHIC -->

        <!-- SENSOR STATUS SECTION -->
        <h1>Sensor Statuses:</h1>

        <!-- Gates -->
        {% if status.gate_status == "OPEN" %}
            <h3>Gate Status: <span class="green-text">OPEN</span></h3>
        {% elif status.gate_status == "MOVN" %}
            <h3>Gate Status: <span class="orange-text">MOVING</span></h3>
        {% elif status.gate_status == "CLOS" %}
            <h3>Gate Status: <span class="green-text">CLOSED</span></h3>
        {% elif status.gate_status == "EMER" %}
            <h3>Gate Status: <span class="yellow-text">EMERGENCY</span></h3>
        {% endif %}

        <!--Traffic Lights-->
        {% if status.road_lights == "GO" %}
            <h3>Roadway Traffic Lights: <span class="green-text">GO</span></h3>
        {% elif status.road_lights == "SLOW" %}
            <h3>Roadway Traffic Lights: <span class="orange-text">SLOW</span></h3>
        {% elif status.road_lights == "STOP" %}
            <h3>Roadway Traffic Lights: <span class="red-text">STOP</span></h3>
        {% elif status.road_lights == "EMER" %}
            <h3>Roadway Traffic Lights: <span class="yellow-text">EMERGENCY</span></h3>
        {% endif %}

        {% if status.waterway_lights == "GO" %}
            <h3>Waterway Traffic Lights: <span class="green-text">GO</span></h3>
        {% elif status.waterway_lights == "SLOW" %}
            <h3>Waterway Traffic Lights: <span class="orange-text">SLOW</span></h3>
        {% elif status.waterway_lights == "STOP" %}
            <h3>Waterway Traffic Lights: <span class="red-text">STOP</span></h3>
        {% elif status.waterway_lights == "EMER" %}
            <h3>Waterway Traffic Lights: <span class="yellow-text">EMERGENCY</span></h3>
        {% endif %}

        <!-- Speaker -->
         {% if status.speaker == "OPEN" %}
            <h3>Speaker Audio: <span class="orange-text">OPEN</span></h3>
        {% elif status.speaker == "CLOS" %}
            <h3>Speaker Audio: <span class="orange-text">CLOSED</span></h3>
        {% elif status.speaker == "EMER" %}
            <h3>Speaker Audio: <span class="yellow-text">EMERGENCY</span></h3>
        {% elif status.speaker == "NONE" %}
            <h3>Speaker Audio: <span class="green-text">NONE</span></h3>
        {% endif %}

        <!-- Ultrasonic Sensors -->
        {% if status.north_us == "SHIP" %}
            <h3>North Ultrasonic: <span class="orange-text">SHIP DETECTED</span></h3>
        {% elif status.north_us == "NONE" %}
            <h3>North Ultrasonic: <span class="green-text">NOTHING DETECTED</span></h3>
        {% endif %}

        {% if status.under_us == "SHIP" %}
            <h3>Underside Ultrasonic: <span class="orange-text">SHIP DETECTED</span></h3>
        {% elif status.under_us == "NONE" %}
            <h3>Underside Ultrasonic: <span class="green-text">NOTHING DETECTED</span></h3>
        {% endif %}

        {% if status.south_us == "SHIP" %}
            <h3>South Ultrasonic: <span class="orange-text">SHIP DETECTED</span></h3>
        {% elif status.south_us == "NONE" %}
            <h3>South Ultrasonic: <span class="green-text">NOTHING DETECTED</span></h3>
        {% endif %}

        <!-- Roadway traffic Status-->
        {% if status.road_load == "TRAF" %}
            <h3>Roadway LoadCell Detected: <span class="orange-text">TRAFFIC DETECTED</span></h3>
        {% elif status.road_load == "NONE" %}
            <h3>Roadway LoadCell Detected: <span class="green-text">NOTHING DETECTED</span></h3>
        {% endif %}

        <!-- Emergency E-STOP -->
        <form class="emergency-button" method="POST">
            <button type="submit" value="emergency" name="action" class="button red-button">EMERGENCY STOP</button>
        </form>

    </section>

    <form class="content-box" method="POST">
        <!-- Control mode controls -->
        <div class="mode-buttons">
            <input type="radio" id="auto" name="mode" value="auto" checked>
            <label for="auto" class="radio big-radio"><span>Automatic Bridge Control</span></label>
            <br><br>
            <input type="radio" id="manual" name="mode" value="manual">
            <label for="manual" class="radio big-radio"><span>Manual Bridge Control</span></label>
        </div>

        <!-- traffic light controls -->
        <div>
            <p>Traffic Light Override * <span class="hidden error" id="traf-lights-error-text">Please Select Traffic Light Settings.</span></p>

            <div>
                <label class="switch">
                    <input type="radio" id="road-lights" name="traffic-lights" value="road-lights">
                    <span class="slider round"></span>
                    <br><br>Start Roadway
                </label>

                <label class="switch">
                    <input type="radio" id="waterway-lights" name="traffic-lights" value="waterway-lights">
                    <span class="slider round"></span>
                    <br><br>Start Waterway
                </label>

                <label class="switch">
                    <input type="radio" id="emergency-lights" name="traffic-lights" value="emergency-lights">
                    <span class="slider round"></span>
                    <br><br>Emergency Lights
                </label>
            </div>
        </div>

        <!-- Speaker Audio -->
        <div id="speaker">
            <p>Announcement Override * <span class="hidden error" id="speaker-error-text">Please Select Announcement.</span></p>

            <div>
                <label class="switch">
                    <input type="radio" id="open-audio" name="speaker" value="OPEN">
                    <span class="slider round"></span>
                    <br><br>Openning Bridge
                </label>

                <label class="switch">
                    <input type="radio" id="close-audio" name="speaker" value="CLOS">
                    <span class="slider round"></span>
                    <br><br>Closing Bridge
                </label>

                <label class="switch">
                    <input type="radio" id="emergency-audio" name="speaker" value="EMER">
                    <span class="slider round"></span>
                    <br><br>Emergency Announcement
                </label>

                <label class="switch">
                    <input type="radio" id="no-audio" name="speaker" value="NONE">
                    <span class="slider round"></span>
                    <br><br>No Announcement
                </label>
            </div>
        </div>

        <!-- control ulrasonic readings -->
        <div>
            <p>Ship Detection Override (Ultrasonics)</p>
            <label class="switch">
                <input type="checkbox" id="north-us" name="ultrasonics" value="north-us">
                <span class="slider"></span>
                North Detected
            </label>

            <label class="switch">
                <input type="checkbox" id="under-us" name="ultrasonics" value="under-us">
                <span class="slider"></span>
                Underside Detected
            </label>

            <label class="switch">
                <input type="checkbox" id="south-us" name="ultrasonics" value="south-us">
                <span class="slider"></span>
                South Detected
            </label>
        </div>

        <!-- control load cell readings -->
        <div>
            <p>Roadway Detection Override (LoadCell)</p>
            <label class="switch">
                <input type="checkbox" id="loadcell" name="loadcell" value="loadcell">
                <span class="slider"></span>
                Load Detected 
            </label>
        </div>

        <!-- control gates-->
         <div>
            <p>Roadway Gate Control Override *<span class="hidden error" id="gate-error-text">Please Select an Instruction for the Gates.</span></p>

            <div class="radio-container">
                <input type="radio" id="open-gates" name="gates" value="OPEN">
                <label for="open-gates" class="radio">Open Gates</label>
                <input type="radio" id="close-gates" name="gates" value="CLOS">
                <label for="close-gates" class="radio">Close Gates</label>
            </div>
        </div>

        <!-- control bridge -->
        <div>
            <p>Bridge Control Override * <span class="hidden error" id="bridge-error-text">Please Select an Instruction for the Bridge.</span></p>

            <div class="radio-container">
                <input type="radio" id="open-bridge" name="bridge" value="OPEN">
                <label for="open-bridge" class="radio">Open Bridge</label>
                <input type="radio" id="close-bridge" name="bridge" value="CLOS">
                <label for="close-bridge" class="radio">Close Bridge</label>
            </div>
        </div>

        <!-- Push Button-->
        <div class="push">
            <button type="submit" id="push" value="push" name="action" class="button grey-button">Push</button>
        </div>
    </form>
</body>


</html>